Source: kolabd
Section: mail
Priority: extra
Maintainer: Debian Kolab Maintainers <pkg-kolab-devel@lists.alioth.debian.org>
Uploaders: Noèl Köthe <noel@debian.org>, Steffen Joeris <white@debian.org>, Peter Eisentraut <petere@debian.org>
Build-Depends: debhelper (>= 4), dpatch
Standards-Version: 3.7.2
XS-Vcs-Browser: http://svn.debian.org/wsvn/pkg-kolab/kolabd/
XS-Vcs-Svn: svn://svn.debian.org/pkg-kolab/kolabd/

Package: kolabd
Architecture: all
Depends: ${perl:Depends}, libkolab-perl, libnet-netmask-perl, libmail-box-perl, libterm-readkey-perl, libterm-readline-gnu-perl,
 postfix (>= 2.3), postfix-ldap (>= 2.3),
 sasl2-bin, libsasl2-modules,
 kolab-cyrus-admin, kolab-cyrus-clients, kolab-cyrus-imapd, kolab-cyrus-pop3d,
 kolab-resource-handlers,
 adduser, lsb-base (>= 3.0-3)
Recommends: slapd, ldap-utils
Suggests: openssl, db4.2-util, kolab-webadmin
Description: groupware server
 Kolab is a secure, scalable, and reliable groupware server.  It consists
 of a number of well-known and proven components for the standard tasks
 such as e-mail, directory service, and web service.  Kolab adds
 intelligent interaction between the components, a web administration
 interface, management of free/busy lists, etc.  Various clients can
 access Kolab, among them Kontact (KDE), Outlook (Windows), and Horde
 (web).
 .
 This package contains the groupware server program, the LDAP gateway
 daemon, as well as the dependencies and documentation to run Kolab.
 .
 Web site: http://www.kolab.org/
