Source: kolabd
Section: mail
Priority: optional
Maintainer: Debian Kolab Maintainers <pkg-kolab-devel@lists.alioth.debian.org>
Uploaders: Noèl Köthe <noel@debian.org>, Steffen Joeris <steffen.joeris@skolelinux.de>
Build-Depends-Indep: debhelper (>= 4.0.0), dpatch
Standards-Version: 3.6.2

Package: kolabd
Architecture: all
Depends: ${perl:Depends}, libkolab-perl, libnet-netmask-perl, libmail-box-perl, libterm-readkey-perl, libterm-readline-gnu-perl, openssl, slapd, ldap-utils, db4.2-util, postfix, postfix-ldap, apache2-mpm-prefork, apache2-utils, sasl2-bin, libsasl2-modules, kolab-cyrus-admin, kolab-cyrus-clients, kolab-cyrus-imapd, kolab-cyrus-pop3d, kolab-resource-handlers, adduser, lsb-base
Description: Kolab groupware server
 Kolab is a secure, scalable and reliable groupware server. It is 
 formed by a number of well-known and proven components or the 
 standards tasks such as E-Mail, Directory Service and Web Service. 
 Kolab adds intelligent interaction between the components, a web 
 administration interface, management of free-busy lists etc. 
 Various clients can access Kolab, among them Kontact (KDE), Outlook 
 (Windows) and Horde (Web).
 .
 This package contains the kolabd-scripts to control the groupware 
 server, ldap gateway daemon, the dependencies and documentations
 to run Kolab.
 .
 Web site: http://www.kolab.org
