#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

build: patch

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	
	# scripts for /usr/bin and /usr/sbin
	install -D -m 755 dirservnotify debian/kolabd/usr/sbin/dirservnotify
	install -D -m 755 dirservupdate debian/kolabd/usr/sbin/dirservupdate
	install -D -m 755 kolabconf debian/kolabd/usr/sbin/kolabconf
	install -D -m 755 kolabd debian/kolabd/usr/sbin/kolabd
	install -D -m 755 kolabcheckperm debian/kolabd/usr/sbin/kolabcheckperm
	install -D -m 755 kolabdcachetool debian/kolabd/usr/sbin/kolabdcachetool
	install -D -m 755 kolabpasswd debian/kolabd/usr/bin/kolabpasswd
	
	# Files for /etc/kolab
	install -D -m 640 kolab.conf debian/kolabd/etc/kolab/kolab.conf
	install -D -m 644 kolab.globals debian/kolabd/etc/kolab/kolab.globals
	install -D -m 755 kolab_sslcert.sh debian/kolabd/usr/sbin/kolab_sslcert
	install -D -m 755 kolab_ca.sh debian/kolabd/usr/sbin/kolab_ca.sh
	# This file is obsolete we use kolabconf for it
#	install -D -m 755 kolab debian/kolabd/etc/kolab/kolab
	# unneeded simple script
#	install -D -m 755 workaround.sh debian/kolabd/etc/kolab/workaround.sh
	install -D -m 755 kolabquotawarn debian/kolabd/usr/sbin/kolabquotawarn
	install -D -m 755 kolab_smtpdpolicy debian/kolabd/usr/sbin/kolab_smtpdpolicy
	install -D -m 644 quotawarning.txt debian/kolabd/etc/kolab/quotawarning.txt
	install -D -m 644 rootDSE.ldif debian/kolabd/etc/kolab/rootDSE.ldif
	
	# Install files in /usr/share/kolabd
	install -D -m 755 kolab_bootstrap debian/kolabd/usr/share/kolabd/kolab_bootstrap
	
	# Template files for /etc/kolab/templates
	for i in templates/* ; do install -D -m 644 $$i debian/kolabd/usr/share/doc/kolabd/$$i ; done

	# install horde-sarge-iCal.patch
	install -D -m 644 debian/horde-sarge-iCal.patch debian/kolabd/usr/share/doc/kolabd/horde-sarge-iCal.patch

	# Ldap files
	install -D -m 644 kolab2.schema debian/kolabd/usr/share/kolabd/schema/kolab2.schema

#	# Commented out because of copyright issues, needs further investigation
#	install -D -m 644 rfc2739.schema debian/kolabd/usr/share/kolabd/schema/rfc2739.schema

	# Postfix files
	install -d debian/kolabd/etc/postfix
	install -m 640 debian/kolab-ldap*.cf debian/kolabd/etc/postfix/

	# Man pages
	mkdir -p debian/kolabd/usr/share/man/man1
	for x in `find debian/kolabd/usr/bin debian/kolabd/usr/sbin -type f`; do \
	  sed "s/undocumented/`basename $$x`/g" debian/undocumented.1 >debian/kolabd/usr/share/man/man1/`basename $$x`.1; \
	done

	# Lintian
	install -D -m 644 debian/kolabd.lintian-overrides debian/kolabd/usr/share/lintian/overrides/kolabd

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples debian/slapcat.example.com
	dh_installinit --update-rcd-params='start 30 2 3 4 5 . stop 30 0 1 6 .'
	dh_installman
	dh_link
	dh_strip
	dh_compress --exclude=template
	dh_fixperms -X /etc/
	dh_perl
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
