#!/usr/bin/make -f

NULL=

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_EXTRA_FLAGS := --with-dist=debian \
                             --prefix=/usr \
                             --sysconfdir=/etc \
                             --localstatedir=/var \
                             --libexecdir=/usr/lib \
                             $(NULL)

#config.status: configure
#	dh_testdir
#	./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var --libexecdir=/usr/lib --with-dist=debian --without-openpkg

#build: build-stamp
#build-stamp:  config.status
#	dh_testdir
#	$(MAKE)
#	touch build-stamp

#clean:
#	dh_testdir
#	dh_testroot
#	rm -f build-stamp
#	[ ! -f Makefile ] || $(MAKE) distclean
#	rm -f skolabcheckperm
#	dh_clean

#install: build
#	dh_testdir
#	dh_testroot
#	dh_prep
#	dh_installdirs

#	# scripts for /usr/bin and /usr/sbin
#	install -D -m 755 skolab_sslcert.sh debian/skolab-daemon/usr/sbin/skolab_sslcert
#	install -D -m 755 skolab_ca.sh debian/skolab-daemon/usr/sbin/skolab_ca.sh

#	# Files for /etc/skolab
#	install -D -m 644 skolab.globals debian/skolab-daemon/etc/skolab/skolab.globals
#	# This file is obsolete we use skolabconf for it
##	install -D -m 755 skolab debian/skolab-daemon/etc/skolab/skolab
#	# unneeded simple script
##	install -D -m 755 workaround.sh debian/skolab-daemon/etc/skolab/workaround.sh
#	install -D -m 644 rootDSE.ldif debian/skolab-daemon/etc/skolab/rootDSE.ldif

#	# Skolab bootstrapping templates
#	for i in templates/*.template ; do install -D -m 644 $$i debian/skolab-daemon/etc/skolab/$$i ; done
#	rm $(addprefix debian/skolab-daemon/etc/skolab/templates/,clamd.* freshclam.* httpd.* session_vars.*)

#	# LDAP schemas
#	install -D -m 644 debian/rfc2739.schema debian/skolab-daemon/etc/ldap/schema/rfc2739.schema
#	install -D -m 644 horde.schema debian/skolab-daemon/etc/ldap/schema/horde.schema
#	install -D -m 644 skolab2.schema debian/skolab-daemon/etc/ldap/schema/skolab2.schema

#	#apache config
#	install -D -m 644 debian/apache.conf debian/skolab-daemon/etc/skolab/apache.conf

#	# Commented out because of copyright issues, needs further investigation
#	install -D -m 644 rfc2739.schema debian/skolab-daemon/usr/share/skolab-daemon/schema/rfc2739.schema

#binary-indep: build install
#	dh_testdir
#	dh_testroot
#	dh_installchangelogs -i ChangeLog
#	dh_installdocs -i
#	dh_installexamples -i
#	dh_installinit -i --update-rcd-params='start 30 2 3 4 5 . stop 30 0 1 6 .'
#	dh_installman -i
#	dh_link -i
#	dh_compress -i
#	dh_fixperms -i -X /etc/
#	dh_perl -i
#	dh_installdeb -i
#	dh_gencontrol -i
#	dh_md5sums -i
#	dh_builddeb -i

#binary: binary-indep binary-arch
#
#.PHONY: build clean binary-indep binary-arch binary install
