KOLAB_META_START
TARGET=/etc/amavis/conf.d/40-kolab
PERMISSIONS=0640
OWNERSHIP=root:root
KOLAB_META_END
# this file is automatically written by the Kolab config backend
# manual additions are lost unless made to the template in the Kolab config directory

use strict;

##
## Skolab Groupware
##

# reinjection path
$notify_method  = 'smtp:[127.0.0.1]:10026'; # notifications about scanned messages
$forward_method = $notify_method; # scanned messages

1;
